apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-kondense
spec:
  selector:
    matchLabels:
      app: test-kondense
  replicas: 1
  template:
    metadata:
      labels:
        app: test-kondense
    spec:
      serviceAccountName: kondense
      containers:
      - name: stress-ng
        image: polinux/stress-ng
        command: [ "sleep", "1d" ]
        resources:
          limits:
            cpu: 100m
            memory: 100M
      - name: kondense
        image: kondense/kondense:1.1.0
        resources:
          limits:
            cpu: 80m
            memory: 50M